.navbar {
  background-color: var(--color-header);
  color: var(--color-text-inverse);
  width: 100%;
}

.navbar__inner {
  width: 100%;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: var(--spacing-md) 0;
}

.navbar__logo-section {
  display: flex;
  align-items: center;
}

.navbar__logo-section svg {
  width: 10rem;
  height: 5rem;
}

.navbar__right-icons {
  display: flex;
  align-items: center;
}
