.menu-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-1);
  border-radius: var(--border-radius-sm);

  &:hover {
    color: var(--color-gray-50);
    background-color: var(--color-text-dark);
  }

  @media (min-width: var(--breakpoint-md)) {
    display: none;
  }
}
