$spacing-xs: var(--spacing-xs);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$spacing-xl: var(--spacing-xl);
$spacing-2xl: var(--spacing-2xl);

$navbar-height: var(--navbar-height);
$footer-height: var(--footer-height);
$sidebar-width: var(--sidebar-width);
