@use "@assets/styles/abstracts" as *;

.nav-links {
  display: none;

  @include respond-to(md) {
    display: flex;
    align-items: center;
  }
}

.item {
  color: var(--color-gray-300);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  margin: 0 var(--spacing-sm);
  text-decoration: none;

  &:hover {
    color: var(--color-white);
  }

  &--mobile {
    color: var(--color-gray-300);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
    margin: 0 var(--spacing-sm);
    text-decoration: none;

    &:hover {
      color: var(--color-white);
    }
  }
}

.button {
  margin: 0 var(--spacing-sm);

  &:hover {
    transform: unset;
  }
}
